*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin:auto;
}

header{
    padding: 16px 0;
    background-color: rgb(0, 204, 255);
    color: white; 
       
}


header h1{
    text-shadow: 2px 2px 4px#000;
    font-style: italic;
}
header nav li{
    display:inline;
    margin-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}
header nav li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
main{
    margin-top: 30px;
}
main img{
    margin-right: 30px;
}
main h2{
    margin-bottom: 10px;
    font-style: italic;
}
main p{
    margin-bottom: 8px;
}
main .linha{
    margin-bottom: 20px;
}
header .container,
main .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .container{
    align-items: flex-start;
}
.linha{
    border: 2px solid rgb(0, 204, 255);
    width: 100%;
}
section h2{
    margin-top: 30px;
}
section .linha{
    margin-top: 30px;
    margin-bottom: 30px;
}
section img{
    width: 250px;
}
.card{
    display: flex;
    flex-direction: column;
   
}
.card h3{
    width: 100%;
    color: rgb(111, 0, 255);
    margin-top: 8px;
    font-size: 20px;
}
.card span{
    font-size: 13px;
    margin-bottom: 8px;
    padding: 8px;
}
.card button{
    background-color:rgb(0, 204, 255);
    border: none;
    padding: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}
footer{
    background-color:rgb(10, 81, 99) ;
    color: white;
    padding: 10px;
    margin-top: 50px;
    text-align: center;

}

@media screen and (max-width:667px){
    html{
        overflow-x: hidden;
    }
    .container{
        display: block;
        
    }
    .container{
        max-width: 90%;
    }
    header{
        max-width: 100%
    }
    header h1{
        font-size: 1.8em;
    }
    header nav li a{
        font-size: 0.9em;
        
    }
    main img{
        max-width:100%;
        display: block;
    }
    main .container{
        display: block;
    }
    main h2{
        margin-top: 10px;
        font-size: 1.5em;
    }
    section span {
        max-width: 90%;
        
    }
    
    
    .card{
        flex-direction: column;
       
    }
    .card h3{
        font-size: 28px;
    }
    .card span{
        font-size: 20px;
        width: 100%;
    }
     
}

@media screen and (min-width:768px) and (max-width:1023px) {
    html{
        overflow-x: hidden;
    }
    .container{
        max-width: 90%;
        width: 100%;
    }
    header h1{
        font-size: 60px;
    }
    main .container{
        display: block;
        
    }
    main h2{
        font-size: 30px;
        margin-top: 10px;
    }
    main p{
        font-size: 20px;
    }
    main img{
        width: 100%;
    }
    section h2{
        font-size: 30px;
    }
    .produtos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .card h3 {
        text-align: center;
        width: 100%;
        font-size: 30px;
    }
    .card span{
        text-align: center;
        font-size: 18px;
    }
        
        
    

}









